.debug-red {
    border: 1px solid red;
}

.debug-green {
    border: 1px solid green;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    background: #f4f4f4;
}

.app-content {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.tab-router-active {
    border-bottom: 3px solid #276692 !important;
}

.margin-top-20 {
    margin-top: 20px;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0px solid transparent;
    box-shadow: none;
    outline: none;
}