table {
        border: 1px solid #ddd;
        border-right: none;
        border-bottom: none;
    }

    table {
        width: 100%;
    }

    table th,
    table td {
        height: 36px;
        line-height: 36px;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        border-right: 1px solid #ddd;
    }
    tbody td button[disabled] {
        cursor: not-allowed;
    }
    tbody td img {
        height: 40px;
    }